#current-time {
    color: #FFD700;
    font-size: 90px;
    text-align: center;
    padding-top: 350px;
    font-family: 'Exo', cursive;
}

body {
    background: url(../images/abstract-music-speaker.jpg) no-repeat center;
    background-size: cover;
    image-rendering: auto;
}

#clock {
    padding: 10px;
    border-radius: 50px;
    background: url('../images/clocknohands.png') no-repeat;
    background-position: center;
    background-size: 500px

}
.container {
    padding-top: 100px;
}