@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

#current-time {
    font-size: 70px;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    color: red;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

body {
    background: url(../images/light.jpg) no-repeat center;
    background-size: cover;
    image-rendering: auto;
}



#clock {
    padding: 0px;
    border-radius: 50px;
    background: url('../images/clock7.png') no-repeat center;
    background-position: center;
    background-size: 400px
}




@keyframes titleAnimate {
    0%   {color: red;}
    25%  {color: green;}
    50%  {color: blue;}
    100% {color: yellow;}
}

#note {
    font-family: "Orbitron", sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    color: #800000;
    animation-name: titleAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}
.container {
    padding-top: 30px;
    padding-left: 20px;
}

.row {
    padding: 40px;
}


